
header{
  animation-name: animacion;
  animation-duration: 2s;
  animation-delay: 1s;
}
@keyframes animacion {
  0%{ margin-top: 150%}
  60%{ margin-top: -5%}
  100%{ margin-top: 0%}
}
body{
  font-family: "dancing script";
  color: white;
  background-color: #02010a;
}
.contenidop{
  margin: 0 auto;
  width: 900px;

}
.contenidop header{
  background-color: #5b7989;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 100px;

  text-shadow: 2px 2px 2px #02010a;
}
img {
    -webkit-filter:drop-shadow(2px 2px #02010a);
}
.contenidop header h1  {
  float: left;
  margin-left: 2%;
  margin-top: 25px;

}
.contenidop header nav {
  float: right;0
  margin-right: 2%;
  margin-top: 10px;

}
nav ul li{
  display: inline;
  margin: 15px;
}
a{
  color: white;
}
/* NOTE: fin estilos cabecera */

/* NOTE: inicio estilos de galeria */
.contenidop #galeriaP{
  width: 900px;
  display: flex;
  flex-flow:  wrap;
  background-color: #d5c75f;
  box-sizing: border-box;
}
#galeriaP figure{
  width: 260px;
  margin: 20px;
}
#galeriaP img{
  width: 100%
}
#galeriaP [src*="../img/paisaje8.jpg"]{
  -webkit-filter: blur(10px) sepia(100%);
  filter:blur(10px) sepia(100%);

}
#galeriaP figure:nth-child(even){
  -webkit-filter: grayscale(100%);
  filter:grayscale(100%);
}
#galeriaP figure:nth-child(3){
  -webkit-filter: sepia(90%);
  filter:sepia(90%);
}
#galeriaP figure:nth-child(5){
  -webkit-filter: sepia(100%);
  filter:sepia(100%);
}
/* NOTE: fin estilos de galeriaP */


/* NOTE: inicio pie de pagina */
.contenidop footer{
  background-color: #C6d5c5;
  color: black;
  margin-top: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-flow: nowrap;
}
.Contactop {
  width: 100%;
  padding-left: 20px;
  border-bottom-left-radius: 10px;
  box-sizing: border-box;
}
.Contactop h4 a{
  color: black;
}

.terminosp{
  box-sizing: border-box;
  width: 100%;
  padding-left: 20px;
}

.redesp{
  box-sizing: border-box;
  width: 100%;
  padding-left: 20px;

}
.redesp h1{
  margin-bottom: 20px;
}
.redesp li{
  list-style: none;
  margin-bottom: -10px;

}
img[src*="img/facebook.png"]{
  width: 1em;
  filter: none;
}
img[src*="img/twitter.png"]{
  width: 1.2em;
  filter: none;
}
img[src*="img/inst.jpg"]{
  width: 1.2em;
  filter: none;
}
.derechosp{
  box-sizing: border-box;
  width: 100%;
  padding-left: 20px;
}
/* NOTE: fin pie de pagina */


/* NOTE: INICIO VERSION MOVIL */
@media (max-width: 900px) {
  /* NOTE: cabecera inicio */
  .contenidop {width: 100%; box-sizing: border-box;}
  .contenidop header {height: 145px; line-height: 2em}
  .contenidop header h1{ text-align: center; float: none; padding: 20px 0px; }
  .contenidop header nav{ float: none; text-align: center; margin: 0 auto; margin-top: -20px; margin-right: 4%;}
  /* NOTE: cabecera final */

  /* NOTE: inicio galeria MOVIL */
    .contenidop #galeriaP{width: 100%; flex-flow: column;}
    .contenidop #galeriaP figure {width: 90%; margin: 0 auto;}
    .contenidop img{margin-top: 30px;}
    /* NOTE: Final galeria MOVIL */
